<p>&nbsp;</p>


<div class="display">
<h3>Customers</h3>
  <ul>
    <li><p>Displays customer's information </p></li>
    <li><p>Search customer by name </p></li>
    <li><p>Add a new customer </p></li>
  </ul>
</div>

<p>&nbsp;</p>
<div class="display">
<h3>Orders</h3>
  <ul>
    <li><p>Displays order information </p></li>
    <li><p>Search order by name </p></li>
    <li><p>Add order </p></li>
    <li><p>Update an order</p></li>
    <li><p>Delete an order </p></li>
  </ul>
</div>

<p>&nbsp;</p>
<div class="display">
<h3>OrderDetails</h3>
  <ul>
    <li><p>Displays order details</p></li>
    <li><p>Add order details </p></li>
    <li><p>Update order details </p></li>
  </ul>
</div>

<p>&nbsp;</p>
<div class="display">
<h3>Products</h3>
  <ul>  
    <li><p>Displays product information</p></li>
    <li><p>Search product by ID or Name</p></li>
    <li><p>Add product </p></li>
    <li><p>Update product's category</p></li>
    <li><p>Delete a product </p></li>
  </ul>
</div>

<p>&nbsp;</p>
<div class="display">
<h3>Categories</h3>
  <ul>
    <li><p>Displays product categories</p></li>
    <li><p>Search by category name </p></li>
    <li><p>Add a new category</p></li>
  </ul>
</div>

